*{ margin: 0%; }
body{
    margin: 0 auto;
}
header{
    width: 100%;
    height:800px;
    margin: 0;
    padding: 0;
}
#header-background{
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}